.controlPanel{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: "Space Mono", monospace;
}

.controlPanel div{
    /* margin:; */
}